<li id="post-<%=post.id%>">
    <p>
        <% if(locals.user && locals.user.id==post.user.id){%>
        <small>
            <a class="delete-post-button" href="/posts/distroy/<%=post.id%>">x</a>
        </small>
        <%}%>
        <%=post.content%>
        <br>
        <small>
            <%=post.user.name%>
        </small>
        <%if(locals.user){%>
            <small>
                <a class="toggle-like-button" data-likes="<%=post.likes.length%>" href="/likes/toggle/<%=post._id%>/Post"><%=post.likes.length%> Likes</a>
            </small>
            <%}else{%>
                <%=post.likes.length%> Likes
                <%}%>
    </p>
    <div class="comment-feed">
        <%if(locals.user){%>
            <form action="/comment/create" method="post" id="post-<%= post._id %>-comments-form">
                <input type="text" name="content" placeholder="Type comment here..." require>
                <input type="hidden" name="post" value="<%= post._id%>">
                <input type="submit" value="Add Commment">
            </form>
             <%}%>
    
             <div class="comments">
                <ul id="post-comments-<%= post._id %>">
                    
                    <%for(comment of post.comments){ %>
                        <!-- console.log(comment.content) -->
                        <%- include('_comments')-%>
                        
                        <%}%>
                </ul>
             </div>
    </div>
</li>
