<link rel="stylesheet" href="<%=assetPath('css/user_layout.css') %>">
<link rel="stylesheet" href="<%=assetPath('css/profile.css') %>">
        <h1>
            Codeil/<%=header%>
        </h1>

        <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100">

        <%if(user.id==profile_user.id){%>
            <form action="/users/update/<%= profile_user.id%>" method="post" enctype="multipart/form-data">
                <input type="text" name="name" value="<%=profile_user.name %>" required>
                <input type="email" name="email" value="<%=profile_user.email %>" required>
                <input type="file" placeholder="Profil Pic" name="avatar" id="image">
                <input type="submit" value="Update" >
            </form>
            <div id="preview-container">
                <img id="preview_image"> 
            </div>
            <img id="preview_image"  style="width: 100;">
            <%}else{%>
                <p>Name= <%= profile_user.name%></p>
                <p>Email= <%= profile_user.email%></p>



                <%if(user.friends.length>0){%>
                    <%for(friend of friends){%>
                        <%if(friend.to_user.id == profile_user.id || friend.from_user.id == profile_user.id ){%>
                            <a id="toggle-button" href="/friends/addfriend/<%=profile_user._id%>/<%=user._id%>">Remove-friend</a> 
                        <%}else{%>
                            <a id="toggle-button" href="/friends/addfriend/<%=profile_user._id%>/<%=user._id%>">Add-friend</a>
                        <%}%>
                    <%}%>
                <%}else{%>
                    <a id="toggle-button" href="/friends/addfriend/<%=profile_user._id%>/<%=user._id%>">Add-friend</a>
                <%}%>
                <!-- <a id="toggle-button" href="/friends/addfriend/<%=profile_user._id%>/<%=user._id%>">Remove Friend/Add-friend</a> -->
                
                <%}%>
<script src="<%=assetPath('js/profile_friends.js') %>"></script>
