<link rel="stylesheet" href="/css/user_layout.css">
<link rel="stylesheet" href="/css/profile.css">
        <h1>
            Codeil/<%=header%>
        </h1>

        <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100">

        <%if(user.id==profile_user.id){%>
            <form action="/users/update/<%= profile_user.id%>" method="post" enctype="multipart/form-data">
                <input type="text" name="name" value="<%=profile_user.name %>" required>
                <input type="email" name="email" value="<%=profile_user.email %>" required>
                <input type="file" placeholder="Profil Pic" name="avatar" id="image">
                <input type="submit" value="Update" >
            </form>
            <div id="preview-container">
                <img id="preview_image"> 
            </div>
            <img id="preview_image"  style="width: 100;">
            <%}else{%>
                <p>Name= <%= profile_user.name%></p>
                <p>Email= <%= profile_user.email%></p>
                <%}%>

